/**
 * @name Translucence
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	--app-bg: url(https://lh3.googleusercontent.com/pw/AIL4fc8b-G8lYhPvPLgiLKohQIHWAjyzn7kqIA4rPa9_lhRt0jJnS4Z2YgMb1RM41JCj9XcuPApw5HBbXcK3k0VaLVC-sR5ykzmoqmFPyD5UgimLTngUxdJp8s4hxmfzo4Cp-z1DwahMAQJ_FWoQwlUNfMIkncjy61EtigpXxirGE4YjuDQaf3FP4cxroad_yJatxzQqhnvWB5GuURnaDzp80OufM5oWPo8x9R5b8pRgJQC7FdrkVahIXqMhicYraMXC_EQmEk_dXOjlt0nCiQmmwZOotvOjHx5dv-GEHjo0Pg6ALFpyXWD6TyTDa-GVrxRKHBVFSWg8UYA2W5QyHXyrl3V8di3-rRJdu3fPH04uqVqIQCnlsgpqHNcxhOQ0p7VXHWNUt8-jkIcP18Vdrr9-LI01bboqy2Vld-q95I3FuPwjtmoUOJhHRS7Or_FZ3RWU8R_jBaUZPco6uQITsdp12wfVd3RQGYH0E_2UMNgpcY-jQIrXCQIETlU6ky6qaVC9CeglsTYklfJ7AulJyNmaFUmX5kHN61r_OvY4_-qNMZFH5cjDa6ULE1srJWs0HXD1MqhLexL82VdLbJSf8okSYy27Sf_tJOpEz2zCH7IcSORutHvQX5Kn8nhZYLZEyO6S4iXhmnVf32qexM9LI1vC2snjgI31HTwAZtMiiDZYTo4V7aILTisgX4oprWXPv_y-kqn1P5H0FqLAe8Ci98LVD0pz-h8xo1Yk6VfHCTDLRhKuLLUJmLYb6c6lp-xL7m4pFYLqr2AjJC1ftx1CoSjJtTXjUanhsfmK5tPI7cmd27f20quKx0wErvTicexyIeUes5ttzJuYU6lvUGtleSPY7I0I_xGf3qS9OMBh6iLJdicNAJkcu85vMPfNEOy72gGThy0qYHJJMqROrlEQwi-UIty72w4HSbmNK2RO-RhrA4COe-KoyGksSLjsbL2PvNhoOWJPRY6gshwcW94A5b63LJZqv0E0BGV2=w1182-h665-s-no?authuser=0);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 8px; /*	-	*/
	
	--accent-hue: 156;
	--accent-saturation: 77.5%;
	--accent-lightness: 47.1%;
	--accent-opacity: 1;
	--accent-text-color: #000; /*	-	*/

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2); /*	-	*/

	--message-color: rgba(0,0,0,0.4);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/
	
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px; /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}
