/**
 * @name Translucence
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);

:root {
	--app-bg: url(https://lh3.googleusercontent.com/pw/AIL4fc_jnddIx7ensFoq-FwnP2c4lThQYZHD05MCHEKd-uEQQ9YGNTdLpZJi3jpfPvJ9dGFCTD7lY8NWFHSEHssK8Gh0bmjW3r9PjiQCGlkVHpaulLnXR7UFHfCygHaN5mxBIiraSRig78jzOpm2hE0PUhu7pmIoxES3emkTvSAErngs94NFSG4Wc5b4YbwXN9Jbhd50V80eOgAOmEeECV1oT_jHS4Xzx86qw4MdHVxTJa33dQZfRktpW7Yj9MbHEqY2uSNyxV1wlCZRBKWtD9DShIwa5GfvRJgEtYA3GXwzOfkt5eHhsMB2FI3BoGnYOrDj-Nux_Ro2vzzfiMAP4y4mxy00xSFuNT3aPLSKO0DAyarTEwt1-NrRqk7Et0bTbrEDdutZPtTxZCfO10u1hBGT2wC8a9B_mSo0m8lrvzBkQ9lSmXkQgdP8adok8LjJBc4QJyxgrTw-G81ct29_ggmTBfDI5J5k0ndc4a8PgU3TOSAUHlHkn3XnmOm6zryaZDLvn8Jifc30rRNQE7h1CLu9eGK0XPKH22bpdN9colBQHICr9sFIHeSFZ8o3iVYX1qsjjgSLFZ0dYP6Tpie7XmzlV_aed7UOUyyMACfJZYpXpnT5BzqMyFYWq2oi1UAeWvNnpMuRNsp_VDV5Y1S1a4xQ1_warUHm1YsWA9S5PBmqZRzy23_Qz131gLeecn8zFEgXoeXy0MwVO9s-cj-1UY4-Jen-jtWgUrLoPFsPC5X4lsS8XDPnbY7cAwE6z1cm8f10hSQGABU26EMEbuVEGK-zv60-RxUQXPBnSwIzO8eldfZxwC17xKkwRaW-QuE7v8OTJ7CWzMEHKiL53uM0rrr_xPfPdRmhfIkkz60Uh-MGivoWvnkRWQTdzcGVfUO8BmEjg40ftVtnzH6piKPducD3I-AxyCoG2M7DWaN0xv2VzUpwHNuB-0cJNsajpslxVFj-cZb1AAkxC6DTJEGOHxaRqzQgm-5-Zto57bwUplKLVzmoFvGw3A-lwq3gOdEEvOYFDbm1G7nwpRz7nA=w339-h191-no?authuser=0);
	--app-blur: 6px;
	--app-margin: 24px;
	--app-radius: 8px; /*	-	*/
	
	--accent-hue: 156;
	--accent-saturation: 77.5%;
	--accent-lightness: 47.1%;
	--accent-opacity: 1;
	--accent-text-color: #000; /*	-	*/

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2); /*	-	*/

	--message-color: rgba(0,0,0,0.4);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px; /*	-	*/
	
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1; /*	-	*/

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;  /*	-	*/

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7); /*	-	*/
	
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px; /*	-	*/

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);
}
